<div class="container">
    <div class="page-header">
        <h2>Checkout</h2>
    </div>
    <form action="/Shopping/Confirmation" method="post" id="order_form" class="form" role="form">
        <div class="row">
            <div class="col-sm-8">

                <div class="row">
                    <div class="col-sm-8 form-group">
                        <label for="company">Name</label>
                        <input type="text" id="name" name="name" value="" placeholder="Name" class="address" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="email">Email<b> *</b></label>
                        <input type="text" id="email" name="email" value="" required placeholder="Email" class="address" />
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="phone">Phone<b> *</b></label>
                        <input type="text" id="phone" name="phone" value="" required placeholder="Phone" class="address" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="firstname">Ship to<b> *</b></label>
                        <input type="text" id="ship_to" name="ship_to" value="" required placeholder="Ship to" class="address" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8 form-group">
                        <label for="country">Country<b> *</b></label>
                        <select name="country" id="country" class="address">
                            <option value="US">United States</option>
                            <option value="CA">Canada</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8 form-group">
                        <label for="address1">Address 1<b> *</b></label>
                        <input type="text" id="address1" name="address1" required value="" placeholder="Address 1" class="address" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8 form-group">
                        <label for="address2">Address 2</label>
                        <input type="text" id="address2" name="address2" value="" placeholder="Address 2" class="address" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label for="city">City<b> *</b></label>
                        <input type="text" id="city" name="city" required value="" placeholder="City" class="address" />
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2 form-group">
                        <label for="state">State<b> *</b></label>
                        <select name="state" id="state" required class="address"></select>
                    </div>

                    <div class="col-sm-1"></div>
                    <div class="col-sm-1 form-group">
                        <label for="zip">Zip<b> *</b></label>
                        <input type="text" id="zip" name="zip" required value="" placeholder="Zip" maxlength="10" class="address" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <input class="btn btn-block btn-large btn-primary" type="submit" value="Continue" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section scripts {
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js" ></script>
    @Scripts.Render("~/js/liquid")
    @Scripts.Render("~/js/shopping/checkout")

}
